# Python
__pycache__/
*.pyc
.venv/
.venv*/
.env
.ipynb_checkpoints/

# Outputs / Artefakte
data/interim/
data/processed/


# ignore reports by default
reports/

# but keep EDA result tables (small, useful for reproducibility)
!reports/tables/
!reports/tables/**


# OS / Editor
.vscode/
.DS_Store
Thumbs.db
